<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP0g8bsAcEYyuR__vsMKncm_cxNTEZ8Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>880113754632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nus.TowerForge</string>
	<key>PROJECT_ID</key>
	<string>towerforge-d5ba7</string>
	<key>STORAGE_BUCKET</key>
	<string>towerforge-d5ba7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880113754632:ios:526ae2050eaff3dda427bd</string>
</dict>
</plist>